@media(max-width: 432px) {
    .page-2 {
        padding: 0 70px;
    }
}

@media(max-width: 360px) {
    .time-date-container {
        justify-content: center;
    }

    .time-date-container .time,
    .time-date-container .date {
        height: auto;
        width: 100%;
        text-align: center;
    }
}

@media(max-width: 260px) {
    .page-2 {
        padding: 0 60px;
    }
}

@media(max-width: 235px) {
    .page .background {
        background: var(--none);
    }

    .page-2 {
        display: none
    }
}

@media(max-width: 100px) {
    body {
        display: none;
    }
}