* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: unset;
    text-decoration: none;
}

img {
    font-size: 14px;
    max-width: 150px;
    user-select: none;
}

.active {
    display: flex !important;
}

html {
    background: var(--standart-background);
}

body {
    font-weight: 500;
    font-family: 'MT';
    -webkit-tap-highlight-color: var(--none);
}

.hv {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 20;
    user-select: none;
    position: fixed;
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: var(--time-date-color);
    backdrop-filter: var(--blur-10);
    background: var(--hv);
}

.hv .time {
    font-size: 80px;
}

.hv .date {
    font-size: 18px;
}

.message {
    left: 10px;
    bottom: 10px;
    z-index: 10;
    user-select: none;
    display: flex;
    position: fixed;
    justify-content: center;
}

.message .connection {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: none;
    align-items: center;
    justify-content: center;
    backdrop-filter: var(--blur-10);
    background: var(--connection);
    transition: background .1s linear;
}

.message .connection:hover {
    background: var(--connection-hover);
}

.connection .icon {
    height: 24px;
    width: 24px;
}

.page {
    width: 100%;
    overflow-x: hidden;
    background: var(--background-img) no-repeat center/cover;
}

.page .background {
    min-height: 100dvh;
    width: 100%;
    padding: 90px 0;
    display: flex;
    flex-direction: column;
    background: var(--gradient);
}

.block-top {
    width: 100%;
    gap: 18px;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.search-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.search {
    height: 50px;
    width: 46rem;
    border-radius: 999px;
    display: flex;
    flex-wrap: nowrap;
    backdrop-filter: var(--blur-10);
    background: var(--search);
    transition: background .1s linear, width .1s linear;
}

.search:hover {
    background: var(--search-hover);
}

.search:focus-within {
    width: 47rem;
    background: var(--search-hover);
}

.search-icon {
    height: 100%;
    flex-shrink: 0;
    padding-left: 15px;
    padding-right: 2px;
    border-radius: 30px 0 0 30px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-icon .icon {
    height: 22px;
    width: 22px;
}

.search input {
    height: 100%;
    width: 100%;
    font-size: 17px;
    padding: 0 15px 0 6px;
    border-radius: 0 30px 30px 0;
    border: none;
    outline: none;
    appearance: none;
    font-family: unset;
    color: var(--search-color);
    background: var(--none);
}

.link-container {
    max-width: 46rem;
    gap: 18px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
}

.link {
    height: 60px;
    width: 65px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: var(--blur-10);
    background: var(--link);
    transition: background .1s linear;
}

.link:hover {
    background: var(--link-hover);
}

.link-icon {
    max-height: 32px;
    max-width: 32px;
}

.settings {
    bottom: 10px;
    right: 10px;
    height: 40px;
    width: 40px;
    z-index: 10;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
    backdrop-filter: var(--blur-10);
    background: var(--settings);
    transition: background .1s linear;
}

.settings:hover {
    background: var(--settings-hover);
}

.settings .icon {
    height: 24px;
    width: 24px;
}

/* --- Page 2 --- */

.page-2 {
    height: 80dvh;
    width: 100%;
    padding: 0 80px;
    display: flex;
    justify-content: center;
    background: var(--standart-background);
}

.page-2 .background {
    height: 100%;
    width: 100%;
    border-radius: 18px;
    margin-top: -60px;
    gap: 15px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    backdrop-filter: var(--blur-10);
    background: var(--page-2-block);
}

.background .top-container {
    width: 100%;
    display: flex;
}

.background .bottom-container {
    height: 100%;
    width: 100%;
    display: flex;
}

.time-date-container {
    width: 100%;
    gap: 8px;
    padding: 8px 12px;
    border-radius: 12px;
    user-select: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    backdrop-filter: var(--blur-10);
    background: var(--time-date);
}

.time-date-container .time,
.time-date-container .date {
    height: 100%;
    font-size: 15px;
    color: var(--time-date-color);
}

.notes {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.notes .name {
    font-size: 16px;
    padding: 8px 10px;
    border-radius: 12px 12px 0 0;
    user-select: none;
    display: flex;
    justify-content: center;
    color: var(--note-name-color);
    backdrop-filter: var(--blur-10);
    background: var(--note);
}

.notes textarea {
    height: 100%;
    width: 100%;
    padding: 15px;
    font-size: 15px;
    border-radius: 0 0 12px 12px;
    resize: none;
    border: none;
    outline: none;
    appearance: none;
    font-family: unset;
    color: var(--note-textarea);
    backdrop-filter: var(--blur-10);
    background: var(--note);
}